<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    div label,div h1{
        display: inline;
    }
</style>
<body>
    <div style="display: flex; justify-content: flex-end">
        <a href="{% url 'tv_semi_finals_app:shows' %}">Go Back</a>
    </div>
    <div>
        <label for=""> <h1>TV Show</h1></label>
        <h1>{{ show.id }}</h1>
    </div>
    <h1>{{ show.title }}</h1>
    <h1>{{ show.network }}</h1>
    <h1>{{ show.relase_date }}</h1>
    <h1>{{ show.desc }}</h1>

    
</body>
</html>